<a href="https://colab.research.google.com/github/KyraD24/Python/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Regular operators
number_1 = 5
number_2 = 10
number_1 = number_1 + number_2 # regular operator

# Shortcut operator
number_1 += number_2 # number_1 now equals number_1 + number_2

# Comparison operators

Equals to -> country == 'spain'
Not equal to -> country != 'spain'

In [ ]:
country = 'Spain' # single =, assign a value to a variable

print(country == 'Spain') # returns True
print(country != 'Canada') # returns True
print(country == 'spain') # returns False

# IF statement
**Goal:** Control the flow of your code</p>
**Structure:** </p>

If comparison test: </p>
  &nbsp; do something </p>
Else: </p>
  &nbsp; do something else </p>

In [ ]:
country = 'England'

# Most simple IF
if country == 'Spain':
  print('The country is Spain!')

# Simple IF and Else statement
if country == 'Spain':
  print('The country is Spain!')
else:
  print('The country is not Spain!')

# Mulitple IF with ELSE
if country == 'Spain':
  print('The country is Spain!')
elif country == 'England': # elif = else if
  print('The country is England!')
else: # in any other case
  print('The country is neither England nor Spain')

Using one of the comparison operators in Python, write a simple program that takes the parameter n as input, which is an integer, and prints False if n is less than 100, and True if n is greater than or equal to 100.

# Input
number_chosen = input(int("Pick a whole number: "))

# Write your code below using an IF statement

In [ ]:
# Write your code below using an IF statement
n = 24
if n == '<=100':
  print("Under 100")

Write me a Python program to check if a number is positive, negative or zero, print the result </p>

1. Check if number is positive
2. Check if number is negative
3. Check if number is zero
4. Print the result

In [ ]:
number = 5
if number >0:
  print("The number is positive")
elif number <0:
  print("The number is negative")
elif number ==0:
  print("The number is 0")

The number is positive

# Other data types
## Collections
### List
- Collection of elements
- Written by using square brackets (next to the P key)
- Creating a list: list_name = [] (empty list)
- Creating a list: list_name = [1, 2, 4, 5, 7, 9] (filled list)
- Creating a list: list_name = list() (empty list)

# Loops
## For loop
- Iteration
- Go through each element of a collection

**Syntax:** for _element_ in list: </p>
*element => the name of each element

In [ ]:
learners = ['Ryan', 'Andrio', 'Alfie', 'Anna', 'Dominika', 'Mariia', 'Alfie']

for learner in learners:
  print(learner.upper())

for learner in learners:
  print(learners) # prints the whole list 6 times because the list has a length of 6

results = [100, 90, 97, 80, 75]

for result in results:
  print(result + 5)

# Accessing elements in a list
## Index:
In coding, the first index of a list, always* starts at 0.</p>
_always is not always true_ </p>
**Syntax:** list_name [index] </p>

In [ ]:
fruits = ['apple', 'banana', 'melon']

print(fruits[0])
print(fruits[2])

In [ ]:
fruits = ['apple', 'banana', 'melon']

print(fruits[0])
print(fruits[2])

# Accessing the last element of a list
print(fruits[-1])
print(len(fruits))
print(fruits[len(fruits) - 1]) # print(fruits[3]) # len(fruits) = 3

# Slicing
## Accessing mulitple element from a list at once
**Syntax:** list_name [start:stop:step] </p>
* stop is excluded

In [ ]:
fruits = ['apple', 'strawberry', 'mango', 'kiwi', 'lychee', 'pomegranate', 'cherry', 'orange', 'peach', 'melon']
#           0           1           2       3         4           5           6          7        8         9
print(fruits[0:2]) # from index 0 up to index 2
print(fruits[1:3])
print(fruits[3:8])
print(fruits[3:8:2]) # start : stop : step

# List are mutable
mutable means changeable -> I can change the value of a list </p>
**Syntax:** list_name[index_of_element] = new_value

In [ ]:
fruits = ['apple', 'strawberry', 'mango', 'kiwi', 'lychee', 'pomegranate', 'cherry', 'orange', 'peach', 'melon']

fruits[1] = 'raspberry'
print(fruits)

In [ ]:
fruits = ['apple', 'strawberry', 'mango', 'kiwi', 'lychee', 'pomegranate', 'cherry', 'orange', 'peach', 'melon']

fruits.append('banana') # append adds at the end of a list
print(fruits)

print(fruits.count('melon'))

fruits.append('melon')
print(fruits.count('melon'))

<

Tasks:
Create a list with multiple elements (at least 5)
Access an element of the list using a positive index
Access the last element of your list using a negative index
Access the two first elements on your list
Access the three last elements of your list
Add an element at the end of your list

In [ ]:
Flowers = ['Daisy', 'Dahlia', 'Sun_flower', 'Lily', 'Rose']

print(Flowers[0])
print(Flowers[-1])
print(Flowers[0:2])
print(Flowers[2:5])

Flowers.append('Tulip')
print(Flowers)

Daisy
Rose
['Daisy', 'Dahlia']
['Sun_flower', 'Lily', 'Rose']
['Daisy', 'Dahlia', 'Sun_flower', 'Lily', 'Rose', 'Tulip']

Extra challenges:
Create two lists
Add the second list at the end of your first list. What happens?
Find which method you can use to a list to another list. The end result should be only one list and should not have a list inside another list.
Remove the third element of your list
Without using the index, remove one element of your list
Remove all elements from your list.

In [ ]:
from posix import remove
Sports = ['Darts', 'F1', 'Football', 'Rugby', 'Volleyball']
Days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Combined_lists = Sports + Days
print(Combined_lists)
Combined_lists.pop(2)
print(Combined_lists)

['Darts', 'F1', 'Football', 'Rugby', 'Volleyball', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
['Darts', 'F1', 'Rugby', 'Volleyball', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']