<a href="https://colab.research.google.com/github/KyraD24/Python/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary
A dictionary is a key:value collection. </p>
Each key has a value, so each value is "named" </p>
**Syntax:** {} -> empty dictionary </p>
{ key: value} -> dictionary with one key:value </p>
{ key:value, key2:value2, ...} </p>
**Considerations:** </p>
The key is always a string, the value can be of any type </p>
The key is always unique </p>

In [ ]:
empty_dictionary = {} # empty dictionary
dictionary = {"name": "Anna"}

print(dictionary)
harrys_list = ['no clue', 'one clue', 'two clues', 'many clues']

# Amsterdam NLD Noord-Holland 731200
amsterdam = {
    "city_name": "Amsterdam",
    "country_code": "NLD",
    "district": "Noord-Holland",
    "population": 731200,
    "potential_clues": harrys_list
  }

print(amsterdam)

print(amsterdam['population']) # select one value
print(amsterdam['potential_clues'][-1])

# replace a value in a dictionary
amsterdam['population'] = 731201
print(amsterdam['population'])

# add a key:value to a dictionary
amsterdam['language'] = 'Dutch'
print(amsterdam)
print(amsterdam['language'])

# While loop
## For loop
Iterates through a collection. Performs the task the number of times = length of the collection.
## While loop
Iterates until we hit a target point.
- Do something until a condition becomes false
- Be aware of the infinite nature of a while loop

# CTRL + C
Allows you to stop the process if you forget to set a target point
# Stop button (top left of the code block)
Allows you to stop the process if you forget to set a target point

**Syntax:** while something: do something
**Keyword:** break

In [ ]:
count = 0

while count < 10: # IF
  print(f"The current count is: {count}")
  count += 1 # count = count + 1

while True:
  print("This is an infinite loop")
  break

condition = True

while condition: # test for True
  print("this is an infinite loop")

  if something_happens:
    condition = False

Tasks:
- Create a dictionary with at least 4 key:values
- Print one of the values in the dictionary,
- Change the value of one of the keys and print the result
- Create an empty dictionary
- Add a key value to it

In [ ]:
Holidays = ['Valentine', 'Easter', 'Halloween', 'Christmas']

Holidays = {
    "Valentine": "February",
    "Easter": "April",
    "Halloween": "October",
    "Christmas": "December"
}
print(Holidays)

print(Holidays['Valentine'])

Holidays['St_Patricks'] = Holidays['Easter']
del Holidays['Easter']

{}
dictionary = {"New_Years": "Sun"}

{'Valentine': 'February', 'Easter': 'April', 'Halloween': 'October', 'Christmas': 'December'}
February

Extra challenges:
Create a list of items
Usign a previously created dictionary, add that list of item to a new key
Print the second element of your list using the dictionary
Print all the keys of the dictionary
Print all the values of the dictionary
Using a for loop, iterate through the keys and values of the dictionary and print them in the same string (using an f-string)

In [ ]:
Days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
Holidays = ['Valentine', 'Easter', 'Halloween', 'Christmas']

In [ ]:
#print(amsterdam.items())

for key, value, third_variable in amsterdam.items():
  print(key, value)

print(amsterdam.items())


dict_items( # data type in Python
    [ # list
        ('city_name', 'Amsterdam'), # item => key, value in a tuple
         ('country_code', 'NLD'), # collection of elements, tuple[0] = 'country_code', tuple[1] = 'NDL'
          ('district', 'Noord-Holland'), ('population', 731201), ('potential_clues', ['no clue', 'one clue', 'two clues', 'many clues']), ('language', 'Dutch')])

# Using a while loop
# print the number 1 - 50

In [ ]:
count = 0

while count < 51:
  print(f"The current count is: {count}")
  count += 1

The current count is: 0
The current count is: 1
The current count is: 2
The current count is: 3
The current count is: 4
The current count is: 5
The current count is: 6
The current count is: 7
The current count is: 8
The current count is: 9
The current count is: 10
The current count is: 11
The current count is: 12
The current count is: 13
The current count is: 14
The current count is: 15
The current count is: 16
The current count is: 17
The current count is: 18
The current count is: 19
The current count is: 20
The current count is: 21
The current count is: 22
The current count is: 23
The current count is: 24
The current count is: 25
The current count is: 26
The current count is: 27
The current count is: 28
The current count is: 29
The current count is: 30
The current count is: 31
The current count is: 32
The current count is: 33
The current count is: 34
The current count is: 35
The current count is: 36
The current count is: 37
The current count is: 38
The current count is: 39
The current count is: 40
The current count is: 41
The current count is: 42
The current count is: 43
The current count is: 44
The current count is: 45
The current count is: 46
The current count is: 47
The current count is: 48
The current count is: 49
The current count is: 50

# Complete the code below
# Write code that:
# 1. Take a number from a user
# 2. Compares the number with the variable generated_number
# 3. Prints the appropriate message to the user
# 4. When the user guesses the right number:
#   4.1 Exits the loop
#   4.2 Print a congratulatory message to the user

import random

user_number = int(input("Guess a number:"))
generated_number = random.randint(1, 50)

while : # Make changes to the while loop
  if user_number == generated_number: # manage the loop here
  elif # condition to check number
    print("Little lower")
  elif # other condition
    print("Little higher")

In [ ]:
import random

user_number = int(input("Guess a number:"))
generated_number = random.randint(1, 50)

while count < 10:
  if user_number == generated_number: int(input[1:10]),
  elif generated_number == [ '<5']:
    print("Little lower")
  elif generated_number == ['>6']:
    print("Little higher")
  elif generated_number == ['7']:
    print("Congratulations!")

Guess a number:7

# Write code that iterates through 0 to 100
# Print only the even numbers

In [ ]:
start = 0
end = 100

result = [n for n in range(start, end + 2) if n % 2 == 0]
print(result)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

#Pandas

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

   id        name  class  mark  gender
0   1    John Deo   Four    75  female
1   2    Max Ruin  Three    85    male
2   3      Arnold  Three    55    male
3   4  Krish Star   Four    60  female
4   5   John Mike   Four    60  female

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/student.csv")
pd.
df.head()